language: python

python:
    - "2.6"
    - "2.7"

env: GOTTWALL_REDIS_HOST="127.0.0.1"

services:
    - redis-server

branches:
    only:
        - master

install:
    - pip install nose

script:
    - make travis