include *.txt *.md *.rst Makefile *.py
recursive-include gottwall *.py
recursive-exclude gottwall *.pyo *.pyc
recursive-include gottwall/templates *.html *.css
recursive-include gottwall/static *
recursive-exclude gottwall/static/js/ app.build.js
recursive-exclude gottwall/static/css/ main.build.css
recursive-exclude gottwall/static/js/ embedded.build.js
recursive-exclude gottwall/static/css/ embedded.build.css
recursive-include docs/source *.txt *.py *.rst *.md *
recursive-exclude docs/source/images/ *.png
recursive-exclude docs/source/images *.png
recursive-exclude docs/build/ *
recursive-exclude docs/source/_static/*
recursive-exclude docs/source/_static/ *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-include examples *.py
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
