include *.txt *.md *.rst Makefile *.py
recursive-include gottwall *.py
recursive-exclude gottwall *.pyo *.pyc
recursive-include gottwall templates
recursive-include gottwall/templates *
recursive-include gottwall statis
recursive-include gottwall/static *
recursive-include docs *.txt *.py *.rst *.md *
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-include examples *.py
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
