.main {
    padding: 60px 0;
}

.bs-docs-sidenav {
    width: 220px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidebar {
    margin-left: 0;
}

.nav-list > li > a {
    padding: 9px 15px;
}

.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}

.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}

.bs-docs-sidenav.affix {
    top: 40px;
}

.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

.chart-control {
    margin-top: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
}


#metrics-list .activated a,
#filters-list .activated a,
#values-list .activated a {
    background-color: #666;
    color: #fff;
}

.hero-unit {
    position: relative;
}
.hero-unit .close {
    font-size: 32px;
}
.hero-unit .chart-controls {
    margin-bottom: 20px;
}

.chart-area svg {
    /*height: 450px;*/
    display: none;
}

.navbar_filters {

}
.navbar_filters .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar_filters .nav > li > a {
    padding: 0 5px;
}
.remove-chart {
    position: absolute;
    top: 14px;
    right: 14px;
}
.navbar_filters .delete-bar {
    font-size: 23px;
    line-height: 30px;
}
.open > .dropdown-menu {
    padding: 2px 2px 0;
}
.chart-control .input_date {
    margin-bottom: 0;
}
.navbar {
    margin-bottom: 12px;
}
.navbar-inner {
    min-height: 30px;
}
#controls .navbar-inner {
    position: fixed;
    z-index: 200;
    width: 1200px;
}
.navbar .divider-vertical {
    height: 30px;
}
.charts-container {
    margin-top: 120px;
}
.navbar .btn,
.navbar .btn-group {
    margin-top: 0px;
}

.selectors {
    font-size: 14px;
}

#charts .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 2;
    stroke-opacity: 0;
}

.chart-area .loader {
    width: 100%;
    text-align: center;
}

.select2-container {
    width: 100%;
}

.chart-type {
    margin-left: 20px;
}

.full-mode .data-area {
                                width: 100%;
}

.full-mode .widget-bar {
                                 display: none;
 }


.table-area table {
                    font-size: 12pt;
 }

.date {
        width: 85px;
 }


.svg-wrapper .detail .x_label {

 }


.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.rickshaw_graph .detail.inactive {
	opacity: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .x_label {
	font-family: Arial, sans-serif;
	border-radius: 3px;
	padding: 6px;
	opacity: 0.5;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: white;
	white-space: nowrap;
}
.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 0.25em;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 1em;
	margin-top: -1em;
	white-space: nowrap;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
}
.rickshaw_graph .detail .item:before {
	content: "\25c2";
	position: absolute;
	left: -0.5em;
	color: rgba(0, 0, 0, 0.7);
	width: 0;
}
.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -4px;
	margin-top: -3px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
	display: block;
}

.rickshaw_graph .detail .x_label {
                                   display: none }


.rickshaw_graph .detail .item {
                                line-height: 1.4;
                                padding: 0.5em }
.detail_swatch {
                 float: right;
                 display: inline-block;
                 width: 10px;
                 height: 10px;
                 margin: 0 4px 0 0 }
.rickshaw_graph .detail .date {
                                color: #a0a0a0 }


.navbar_filters .color {
                         width: 14px;
                         height: 14px;
                         background-color: #000;
                         display: inline-block;
 }

.color-wrapper {
                 vertical-align: middle;
                 float: none;

 }

footer {
         margin-bottom: 30px;
 }
footer .contribute {
                     float: right;
 }
footer .version, footer .credits  {
                                    float: left;
 }

.error-container, .home-container {
                   margin-top: 70px;
 }

.error-container {
                   text-align: center;
 }


.home-container h1{
                    font-size: 100px;
                    margin-top: 100px;
                    line-height: 1;
 }

.marketing h1, .marketing h2, .marketing h3{
               text-align: center;
 }

.marketing h3 {
             font-weight: 100;
 }
.marketing {
             margin-bottom: 90px;
 }


.modal-header h3 {
                   text-align: center;
 }

#share-modal .modal-body dd{
                             margin-left: 0px;
 }

#share-modal .modal-body input {
                                 margin-bottom: 0px;
                                 margin-top: 0px;
                                 width: 80%;
 }


input.datepicker {
                   width: 80px;
 }

.chart-area .loader {
                      display: none;

 }

footer {
         padding-top: 15px;
         padding-bottom: 15px;
         vertical-align: middle;
         border-top: 2px #aaa solid;
 }

.chart-area h3 {
                 text-align: center;
                 color: #666;
                 margin-top: 0px;
                 font-weight: 100;
 }

.svg-wrapper {
               float: left;
               width: 100%;
 }

.svg-wrapper .y_axis {
                       float: left;
                       width: 40px;
                       display: block;
 }

.svg-wrapper .linen {
                      float: left;
                      width: 90%;
 }

.data-area .alert {
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-align: center;
 }

.tablesorter-bootstrap .tablesorter-header {
                      background: none;
                      border-bottom: 2px solid #aaa;
                                             border-top: 0px none;
 }

.tablesorter-bootstrap .tablesorter-header th, .tablesorter-header tr{
   background: none;
   border-top: 0px none;
                                                                       box-shadow: none;
}