<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ handler.settings['site_title'] }}{% endblock %}</title>
    <meta name="description" content="{{ handler.settings['site_title'] }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ static }}vendor/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ static }}css/metric.css"/>
      <link rel="stylesheet" type="text/css" media="all" href="{{ static }}css/main.css"/>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="{{ static }}vendor/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Statistics</a>
            <div class="pull-right">
                <ul class="nav secondary-nav project-dropdown">
                    <li class="dropdown js-project-dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <small>Project:</small>
                        <span class="js-current-project">inTaxi</span>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu pull-right">
                            <li><a href="?project=intaxi" title="inTaxi" class="js-project-link">inTaxi</a></li>
                            <li><a href="?project=test2" title="test2" class="js-project-link">test2</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="raw">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav affix">
                      <li class=""><a href="#"><i class="icon-chevron-right"></i> Metrica 1</a></li>
                      <li class=""><a href="#"><i class="icon-chevron-right"></i> Metrica 2</a></li>
                      <li class="active"><a href="#"><i class="icon-chevron-right"></i> Metrica 3</a></li>
                    </ul>
                </div>
                <div class="span9">

                    <h1>{{ handler.settings['site_title'] }}</h1>

                    <p>Simple statistics aggregation platform</p>.
                    <h2>Store backend: {{ storage }}</h2>
                    <div class="graph-canvas-modes">

                     <p class="graph-detalization">
                      <span>Детализация по</span>
                      <label><input type="radio" name="period" value="months"> месяцам</label>
                      <label><input type="radio" name="period" value="weeks"> неделям</label>
                      <label><input type="radio" name="period" checked="checked" value="days"> дням</label>
                      <label><input type="radio" name="period" value="hours"> часам</label>
                      <label><input type="radio" name="period" value="minutes"> минутам</label>
                     </p>
                     <p class="graph-dates">
                      <span>Интервал</span>
                      с <input type="date" name="start-date" class="start-date">
                      по <input type="date" name="end-date" class="end-date">
                     </p>
                     <p class="graph-draw-type">
                      <select name="graph-draw-type">
                       <option value="spline" selected="selected">Сглаженная линия</option>
                       <option value="line">Ломаная линия</option>

                       <option value="column">Столбики</option>
                       <option value="area">Область</option>
                       <option value="areaspline">Сглаженная область</option>
                       <!--
                       <option value="bar">Горизонтальные столики</option>
                       <option value="scatter">Точки</option>
                       -->
                      </select>
                     </p>
                    </div>


            <div class="graph-controls">
             <div class="graphs-list">
              <div class="sheader">
               <h3>Полотно графиков </h3>
               <!--
               <a href="#" id="create-graph-button" class="pseudo-link">добавить новый график</a>-->
              </div>
                 <ul><li><span class="graph-name">Заказы: выполненные: device_name: Web</span><span
                     class="remove-button pseudo-link">×</span><a class="pseudo-link">÷</a><br></li><li><span
                     class="graph-name">Заказы: выполненные: device_name: Android</span><span
                     class="remove-button pseudo-link">×</span><a class="pseudo-link">÷</a><br></li><li><span
                     class="graph-name">Заказы: выполненные: device_name: iOS</span><span
                     class="remove-button pseudo-link">×</span><a class="pseudo-link">÷</a><br></li><li><span
                     class="graph-name">Заказы: выполненные: car_class: 30</span><div
                     class="warning-container"><span class="warning-icon">!</span><div class="warning-message-c"
                                                                                       style="display: none;"><div
                     class="warning-message"><div class="warning-message-text">У этого графика нет данных для данной детализации и интервала полотна.</div><div
                     class="wc-arrow"></div></div></div></div><span class="remove-button pseudo-link">×</span><a
                     class="pseudo-link">÷</a><br></li><li><span class="graph-name">Заказы: выполненные: taxistation__agent__title: Престиж Экспресс</span><div
                     class="warning-container"><span class="warning-icon">!</span><div class="warning-message-c"
                                                                                       style="display: none;"><div
                     class="warning-message"><div class="warning-message-text">У этого графика нет данных для данной детализации и интервала полотна.</div><div
                     class="wc-arrow"></div></div></div></div><span class="remove-button pseudo-link">×</span><a
                     class="pseudo-link">÷</a><br></li><li><span class="graph-name">Заказы: выполненные: city__title: Москва</span><span
                     class="remove-button pseudo-link">×</span><a class="pseudo-link">÷</a><br></li><li><span
                     class="graph-name">Заказы: выполненные</span><span class="remove-button pseudo-link">×</span><a
                     class="pseudo-link">÷</a><br></li></ul><ul></ul></div>
                 <div class="graph-creation">
                  <span class="gc-arrow arrow-part"></span>
                  <div class="graph-creation-wrap">
                   <div class="graph-creation-section metrics-section">
                    <h4>Метрика</h4>
                    <div>
                     нажми <em>Ctrl + F</em>, чтобы найти нужную метрику
                    </div>
                    <ul id="graph-types">
                      <li class="clickable-list-item">
                       <span>Заказы: выполненные</span>
                       <input type="hidden" name="id" value="4">
                       <input type="hidden" name="months" value="True">
                       <input type="hidden" name="weeks" value="True">
                       <input type="hidden" name="days" value="True">
                       <input type="hidden" name="hours" value="False">
                       <input type="hidden" name="minutes" value="False">
                      </li>
                    </ul>
                   </div>
                   <div class="graph-creation-section filters-section" style="display: block;">
                    <h4>Тип фильтра</h4>
                    <ul><li class="clickable-list-item">city__title</li><li class="clickable-list-item">taxistation__agent__title</li><li
                            class="clickable-list-item">car_class</li><li class="clickable-list-item">device_name</li><li
                            class="clickable-list-item">taxistation__title</li><li class="clickable-list-item">fare__car_class</li></ul>
                   </div>
                   <div class="graph-creation-section filters-values-section" style="display: block;">
                    <h4>Фильтр</h4>
                    <ul><li><a class="pseudo-link">Выбрать каждый</a></li><li
                            class="clickable-list-item selected-filter-value">iOS</li><li
                            class="clickable-list-item selected-filter-value">Android</li><li
                            class="clickable-list-item selected-filter-value">Web</li></ul>
                   </div>
                  </div>
                 </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
