{% extends "base.html" %}


{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="row chart-control">
  <div class="span8 periods">
    <span>Детализация по:</span>

    <div class="btn-group selector">
      <button class="btn" data-type="hour">дням</button>
      <button class="btn" data-type="month">месяцам</button>
      <button class="btn" data-type="week">неделям</button>
      <button class="btn" data-type="day">дням</button>
      <button class="btn" data-type="hour">часам</button>
      <button class="btn" data-type="monute">минутам</button>
    </div>
  </div>

  <div class="span6 intervals">
    <span>Интервал: </span>
    с <input type="date" name="start-date" class="input_date start-date">
    по <input type="date" name="end-date" class="input_date end-date">
  </div>
</div>

<div class="hero-unit chart-area">
  <div id="chart">
    <svg></svg>
  </div>
</div>

<div class="row selectors">
  <div class="span4 metrics" id="metrics-selector">
    <h2>Metrics</h2>
    <ul class="nav metrics-list" id="metrics-list">
</ul>
  </div>
  <div class="span4 filters" id="filters-selector">
    <h2>Filters</h2>
    <ul class="nav filters-list" id="filters-list"></ul>
  </div>
  <div class="span4 values" id="values-selector">
    <h2>Values</h2>
    <ul class="nav values-list" id="values-list"></ul>
  </div>
</div>
{% endblock %}
