{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" media="all" href="{{ static }}css/datepicker.css"/>

<script>
var static_path = "{{ static }}";
var prefix = "{{ config['PREFIX'] }}";
</script>
<script data-main="{{ static }}js/app" src="{{ static }}vendor/require.js"></script>

{#<script type="text/javascript" src="{{ static }}vendor/moment.min.js"></script>#}
{#<script type="text/javascript" src="{{ static }}vendor/moment-range.js"></script>#}
{% endblock %}


{% block control %}
<div class="row chart-control">
  <div class="span8 periods">
    <div class="btn-group" id="chart-add">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i> {{ _("Add widget") }}
	<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" data-type="chart"><i class="icon-signal"></i> {{ _("Graph") }}</a></li>
        <li><a href="#" data-type="table"><i class="icon-th"></i> {{ _("Table") }}</a></li>
      </ul>
    </div>
    <button class="btn" id="resize-area-switcher"><i class="icon-resize-full"></i></button>
    <span style="display:inline-block; width: 60px; text-align: right;">{{ _("group by") }}</span>
    <div class="btn-group selector" id="period-selector">
      <button class="btn" data-type="year">{{ _("years") }}</button>
      <button class="btn" data-type="month">{{ _("months") }}</button>
      <!--<button class="btn" data-type="week">{{ _("weeks") }}</button>-->
      <button class="btn" data-type="day">{{ _("days") }}</button>
      <button class="btn" data-type="hour">{{ _("hours") }}</button>      <!--<button class="btn" data-type="minute">{{ _("minutes") }}</button>-->
    </div>
  </div>

  <div class="span5 intervals" data-date-format="yyyy-mm-dd">
    <span style="display:inline-block;width: 80px;text-align: right;">{{ _("Period from") }}</span>
    <input data-date-format="yyyy-mm-dd" type="text" name="start-date" class="input_date start-date datepicker" id="from-date">
    <span style="display:inline-block;width: 20px;text-align: right;">{{ _("to") }}</span>
    <input data-date-format="yyyy-mm-dd" type="text" name="end-date" class="input_date end-date datepicker" id="to-date">
  </div>
  <div class="redraw pull-right">
    <button class="btn" id="redraw-button"><i class=" icon-refresh"></i> {{ _("Redraw") }}</button>
  </div>
</div>
{% endblock %}

{% block charts %}
<div class="charts" id="charts"></div>
<script type="text/html" id="table-widget-template">
  {% raw %}
  <div id="table-{{ id }}" class="hero-unit chart-area conrainer-fluid {{ project_name }}">
    <div class="row-fluid">
      <div class="span8 data-area">
	<div class="table-area">
	  <div class="alert">
	    {% endraw %}
	    {{ _("<strong>Notice!</strong> You need select a filter") }}
	    {% raw %}
	  </div>
	</div>
	<div class="loader">
	  <span>{% endraw %}{{ _("Loading ...") }}{% raw %}</span>
	  <div class="progress progress-striped active">
	    <div class="bar" style="width: 100%;"></div>
	  </div>
	</div>
      </div>
      <div class="span4 widget-bar">
	<button class="close remove-chart">×</button>
	<div class="selectors"></div>
      </div>
    </div>
  </div>
  {% endraw %}
</script>

<script type="text/html" id="table-template">
  {% raw %}
  <table border="0" class="tablesorter table table-striped table-condensed tablesorter-bootstrap">
    <caption>{{ caption }}</caption>
    <thead class="tablesorter-header">
      <tr class="success">
	<th class="tablesorter-header bootstrap-header">{{ group_column_name }}</th>
	{% for n in column_names %}
	<th><nobr>{{ n }}</nobr></th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for r in rows %}
    <tr>
      <th>{{ r[0] }}</th>
      {% set dates = r[1] %}
      {% for v in dates %}
      <td data-tate="{{ v[0] }}">{{ v[1] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endraw %}
</script>

<script type="text/html" id="chart-template">
  {% raw %}
  <div class="hero-unit chart-area container-fluid {{ project_name }}" id="chart-{{ id }}" data-type="{{ type }}">
    <div class="row-fluid">
      <div class="span8 data-area">
	<div class="svg-wrapper">
	  <h3 class="title" contenteditable="true">{{ name|default("{% endraw %}{{ _("Editable chart title") }}{% raw %}") }}</h3>
	  <div class="y_axis" id="y_axis-{{ id }}"></div>
	  <div class="linen" id="linen-{{ id }}"></div>
	  <div class="legend" id="legend-{{ id }}"></div>
	  <!--<div class="x_axis" id="x_axis-{{ id }}"></div>-->
	</div>
	<div class="alert">
	    {% endraw %}
	    {{ _("<strong>Notice!</strong> You need select a metric") }}
	    {% raw %}
	  </div>
	<div class="loader">
	  <span>{% endraw %}{{ _("Loading...") }}{% raw %}</span>
	  <div class="progress progress-striped active">
	    <div class="bar" style="width: 100%;"></div>
	  </div>
	</div>
      </div>
      <div class="span4 widget-bar">
	<div class="chart-controls">
	  <button class="add-bar btn"><i class="icon-plus"></i>{% endraw %}{{ _("Add metric") }}{% raw %}</button>
	  <button class="share-chart btn"><i class="icon-share"></i>{% endraw %}{{ _("Share") }}{% raw %}</button>
	  <div class="btn-group renderers-selector">
	    <a class="btn dropdown-toggle with-tooltip" data-toggle="dropdown" href="#" data-toggle="tooltip" title="{% endraw %}{{ _("Chart type")}}{% raw %}"><i class="icon-wrench"></i> <span class="current">{{ renderer }}</span>
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      {% endraw %}
	      {% for item in config['RENDERERS'] %}
              <li><a href="" data-type="{{ item }}"> {{ item }}</a></li>
	      {% endfor %}
	      {% raw %}
	    </ul>
	  </div>
	  <button class="close remove-chart">×</button>
	</div>
        <div class="selectors"></div>
      </div>
    </div>
  </div>
  {% endraw %}
</script>

<script type="text/html" id="metrics-selector-template">
  {% raw %}
  {% for metric in metrics %}<li><a href="#" data-name="{{ metric }}">{{ metric }}</a></li>{% endfor %}
  {% endraw %}
</script>

<script type="text/html" id="table-filters-selector-template">
  {% raw %}
  {% for filter in filters %}
  <li><a href="#" data-name="{{ filter }}">{{ filter }}</a></li>
  {% endfor %}
  {% endraw %}
</script>

<script type="text/html" id="filters-selector-template">
  {% raw %}
  {% for filter in filters %}
  <li>{% set values = filter[1] %}
  <select data-placeholder="{{ filter[0] }}" placeholder="{{ filter[0] }}" class="placeholder populate"><option></option>{% for value in values %}<option value="{{ value }}" data-filter-name="{{ filter[0] }}">{{ value }}</option>{% endfor %}</select>
  </li>{% endfor %}
  {% endraw %}
</script>

<script type="text/html" id="selectors-table-bar-template">
  {% raw %}
  <div class="navbar navbar_filters" id="bar-{{ id }}">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse"></a>
        <ul class="nav" style="float:none;margin-right:46px;">
          <li class="dropdown metrics-selector">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="current">{% endraw %}{{ _("Param") }}{% raw %}</span><!--<b class="caret"></b>--></a>
            <ul class="dropdown-menu"></ul>
          </li>
          <li class="dropdown filters-selector">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="current">{% endraw %}{{ _("Filter") }}{% raw %}</span></a>
            <ul class="dropdown-menu"></ul>
          </li>
	</ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div>
  {% endraw %}
</script>

<script type="text/html" id="selectors-bar-template">
  {% raw %}
  <div class="navbar navbar_filters" id="bar-{{ id }}">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse"></a>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li><a href="#" class="delete-bar">×</a></li>
        </ul>
        <ul class="nav" style="float:none;margin-right:46px;">
	  <li class="color-wrapper"><span style="background-color: {{ color }}" class="color"></span></li>
          <li class="dropdown metrics-selector">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="current">{% endraw %}{{ _("Param") }}{% raw %}</span><!--<b class="caret"></b>--></a>
            <ul class="dropdown-menu"></ul>
          </li>
          <li class="dropdown filters-selector">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="current">{% endraw %}{{ _("Filter") }}{% raw %}</span></a>
            <ul class="dropdown-menu"></ul>
          </li>
	</ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div>
{% endraw %}
</script>

<script type="text/html" id="share-modal-body">
  {% raw %}
  <dl>
    <dt title="{% endraw %}Single page html version{% raw %}">{% endraw %}{{ _("Html:") }}{% raw %}</dt>
    <dd><input type="text" value="{{ html_link }}" data-type="html"></dd>
    <dt title="{% endraw %}Iframe tag{% raw %}">{% endraw %}{{ _("Iframe:") }}{% raw %}</dt>
    <dd><input type="text" value="{{ iframe }}" data-type="iframe"></dd>
    <dt title="{% endraw %}Link to javascript version for javascript tag{% raw %}">{% endraw %}{{ _("JavaScript:") }}{% raw %}</dt>
    <dd><input type="text" value="{{ js_link }}" data-type="javascript"></dd>
    <dt title="{% endraw %}JSON data response{% raw %}">{% endraw %}{{ _("JSON:") }}{% raw %}</dt>
    <dd><input type="text" value="{{ json_link }}" data-type="json"></dd>
  </dl>
  {% endraw %}
</script>


<div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="share-modal-header">{{ _("Share chart") }}</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Close") }}</button>
  </div>
</div>

<div id="invalid-dates-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="share-modal-header">{{ _("Invalid dates") }}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans %}Invalid dates range{% endtrans %}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Close") }}</button>
  </div>
</div>
{% endblock %}
