#chart-container {
                   margin: auto;
                   }
#graph {
         float: left;
         }
#legend {
          float: lfet;
          }
.clear {
         clear: both;
         }

#y_axis {
          width: 40px;
          float: left;
 }

#x_axis {
          float: left;
          margin-left: 40px;
 }

footer {
margin-top: 15px;
color: #aaa;
         float: left;
         clear: both;
 }

content h2, content h3 {
             width: 100%;
             text-align: center;
             color: #333;
             font-family: Georgia, serif, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
             text-align: center;
             font-style: italic;
             font-weight: normal;
                         margin-bottom: 10px;
 }
content {
float: left;
 }

content h3 {
             font-style: normal;
             margin-top: 0px;
 }


.rickshaw_graph .detail .x_label {
                                   display: none }


#sidebar {
       float: left;
       margin-left: 15px;
 }
#renderers {
             margin-top: 20px;
             float: left;
 }

#renderers_form ul {
                     margin-left: 0px;
                     padding-left: 0px;
 }
#renderers_form ul li {

                       list-style: none;
 }

.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.rickshaw_graph .detail.inactive {
	opacity: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .x_label {
	font-family: Arial, sans-serif;
	border-radius: 3px;
	padding: 6px;
	opacity: 0.5;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: white;
	white-space: nowrap;
}
.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 0.25em;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 1em;
	margin-top: -1em;
	white-space: nowrap;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
}
.rickshaw_graph .detail .item:before {
	content: "\25c2";
	position: absolute;
	left: -0.5em;
	color: rgba(0, 0, 0, 0.7);
	width: 0;
}
.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -4px;
	margin-top: -3px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
	display: block;
}

.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }